Package: com.chuiizeet.removedock
Name: removedock
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: chuy
Author: chuy
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 72
